You are a genius math expert in understanding math questions. Please read the following math question, and then decide which math category it falls into.

Your judgment should be one of the following:

arithmetic
algebra
counting
geometry
number theory
probability
other topics

Do not generate any other texts except one of the above topics.

----------
Original question:
{{prompt}}
----------
Your judgment:
