You are a genius math expert in understanding math questions. Please read the following math question, and then decide which math categories it falls into.

Your judgment should be one or more of the following:

arithmetic
algebra
counting
geometry
number theory
probability
other topics

Do not generate any other texts except one or more of the above topics. For multiple topics, seperate them by commas.

----------
Original question:
{{prompt}}
----------
Your judgment:
