You are tasked with answering the following science question. 

Question: {{Question}}
A) {{A}}
B) {{B}}
C) {{C}}
D) {{D}}

Let's think step by step. Think through and provide your answer in the following format. 
Reasoning: <reasoning>
Final Answer: <single letter of your answer choice> Do not box the final answer, just provide the single letter of your choice. Do not provide any further information after this. This is important. If you do not provide a final answer in this format, your answer will not be scored as accurate.