You are tasked with answering the following science question. 

Question: {{Question}}
A) {{A}}
B) {{B}}
C) {{C}}
D) {{D}}

Provide your answer in the format:
Final Answer: <letter of your answer choice>