Your task is to evaluate a student's ability to generate a high quality caption for an image.  You are not provided with the image itself, but you are given 5 example captions which were deemed to accurately describe the image.  With this information, rate the student's caption on a scale of 1 to 10.  You may think about how to score the student, then write your final score in the form SCORE: <your score here>

EXAMPLE CAPTIONS: {{ caption }}

STUDENT CAPTION: {{ response }}