Here is the output from your function calls. 

output of function calls:
{{ tool_output}}

Generate "finish" if the user task has been completed. Otherwise, generate function calls as needed. If you decide to invoke any of the function(s), you MUST put it in the format of [func_name1(params_name1=params_value1, params_name2=params_value2...), func_name2(params)]
You SHOULD NOT include any other text in the response.

