You are tasked with answering the following question. 

{{prompt}}

This question may refer to single or multiple images or diagrams.  They images or diagrams may not be needed to answer the question, so you are not being provided with them.  Do you best to answer the question based only on the text and any knowledge you have that may help in answering the question.  Do not provide a strategy to answer the question without the image.  Just try to answer the question.  If you cannot answer the question reply with "None"