The following is a list of books. List:
{{all_books}}
Find all books that contain a human name in the title. Always finish your response with the following format. Do not add any additional text or comments after the output list.    
Output:
1. Reason: <reason>. Title: <title>
2. Reason: <reason>. Title: <title>    
...     
N. Reason: <reason>. Title: <title>