List all books written by {{author}} ({{birth_year}}).​ All book titles need to be in English. Always finish your response with the following format, do not add any additional text or comments:
Output:
1. Title: <title> ​
2. Title: <title> 
... ​
N. Title: <title>