The following is a list of books by {{author}} (born in {{birth_year}}) with publication dates in parenthesis. List:
{{all_books_context}}
Find all books in this list that satisfy all the following criteria. Think step-by-step. Give a 1-2 sentence reason for why the books satisfy the criteria. Criteria: {{constraints}} Remember that every book in the output list needs to satisfy all the criteria. Always finish your response with the following format. Do not add any additional text or comments after the output list.    
Output:    
1. Reason: <reason>. Title: <title>
2. Reason: <reason>. Title: <title>    
...     
N. Reason: <reason>. Title: <title>