Solve the following problem using Python.

{{ question_content }}

{% if starter_code %}
You will use the following starter code to write the solution to the problem:
```python
{{ starter_code }}
```
{% else %}
Implement a function called `main()` which orchestrates the solution by reading inputs from stdin and writing the answer to stdout. Feel free to use additional functions as necessary.

**Important:** Do NOT forget to call the `main()` function at the end of your program, otherwise you will not be awarded any points.
{% endif %}

Respond with your solution inside a Markdown code block.