You are given the contents of a python file between the <module_content> </module_content> tags. This module contains classes and functions. Your task is write docstrings for the module, classes and functions in Google style.
If there already exist docstrings, you should rewrite them to be in Google style. 
If there are no docstrings, you should write them in Google style. 
For dataclasses, since there is no explicit init method, make sure to add attribute docstrings to the class docstring. Note that if a dataclass inherits from other dataclasses, make sure to add all attributes of the base classes as well as new attributes to the docstring. 
Rewrite the whole file with no changes to the code. Only the docstrings should be changed.

<module_content>
{{ file_content }}
</module_content>
